<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coworking</title>
    <link rel="icon" type="co-worker-icon" href="/assets/images/logo.svg">

    <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/style/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/style/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/style/styles.css" />
    <link rel="stylesheet" href="assets/js/script.js" />
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-container navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html"
            ><img src="assets/images/logo.svg" alt="Coworking" />Coworking</a
          >
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="about.html">About</a></li>
            <li><a href="list.html">List</a></li>
            <li><a href="book.html">Book</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="owner_management.html">Management</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.navbar -->

    <!-- Header -->
    <header id="head" class="secondary"></header>
    <div class="image-grid">
      <img src="assets/images/cowork1.jpg" alt="Image 1" />
      <img src="assets/images/cowork2.jpg" alt="Image 2" />
      <img src="assets/images/cowork3.jpg" alt="Image 3" />
      <img src="assets/images/cowork4.jpg" alt="Image 4" />
    </div>
    <!-- /Header -->

    <!-- Intro -->
    <div class="container text-center">
      <div class="row">
        <!-- Article main content -->
        <div class="about-grid-container">
          <article class="col-sm-8">
            <header class="page-header">
              <h1 class="page-title">About us</h1>
            </header>
            <h3>Our Company</h3>
            <!-- <img
              src="assets/images/about.jpg"
              alt="Company Image"
              style="float: right; margin-left: 10px"
            /> -->
            <p>
              The COVID-19 pandemic has shown human beings' ability to adapt in the corporate environment 
              as well. Changes caused by the pandemic have demonstrated that remote work is possible 
              and can bring benefits to the company, the employee and the growth of the business. 
              As this flexibility has increased, the demand for spaces dedicated to remote professionals has also increased.
            </p>
            <p>
              So we decided to combine the needs of these people and the availability of spaces that can provide 
              an ideal environment for them to develop their work with excellence wherever they are through our platform.
            </p>
            <h3>Company Goals</h3>
            <p>
              Our goal is to connect workspaces and people so that their skills are enhanced 
              by the environment they choose to work. We aim to provide comfortable, 
              well-prepared, equipped and safe spaces that enable greater productivity, 
              satisfaction and dynamic networking for our customers.
            </p>
            <h3>Our Team</h3>
            <p>
              Our team is ready to help you! If you are looking for a workplace, 
              we will find an ideal space for you. If you have a space to list, 
              we will help you make it attractive and well-prepared for that purpose. Contact us.
            </p>
          </article>
          <!-- /Article -->

          <!-- Sidebar -->
          <aside class="col-sm-4 sidebar sidebar-right">
            <div class="panel" style="text-align: left">
              <h4>Coworking Latest News</h4>
              <ul class="list-unstyled list-spaces">
                <li>
                  <a href="https://coworkinginsights.com/how-coworking-spaces-can-ignite-growth-for-the-creative-economy/" target=”_blank”>Coworking and Economy</a><br /><span class="small text-muted"
                    >How Coworking Spaces Can Ignite Growth for the Creative Economy</span
                  >
                </li>
                <li>
                  <a href="https://coworkinginsights.com/california-leads-the-way-unveiling-the-state-level-surge-in-coworking-spaces/" target=”_blank”>California Leads</a><br /><span class="small text-muted"
                    >California Leads the Way: Unveiling the State-Level Surge in Coworking Spaces</span
                  >
                </li>
                <li>
                  <a href="https://coworkinginsights.com/the-cost-of-coworking-these-are-2024s-most-least-affordable-metros-for-coworking-subscriptions/"target=”_blank”>Cost of Coworking</a><br /><span class="small text-muted"
                    >The Cost of Coworking: These Are 2024’s Most & Least Affordable Metros for Coworking Subscriptions</span
                  >
                </li>
                <li>
                  <a href="https://coworkinginsights.com/should-hybrid-work-models-include-stipends-for-coworking-spaces/" target=”_blank”>Stipends for Coworking</a><br /><span class="small text-muted"
                    >Should Hybrid Work Models Include Stipends for Coworking Spaces?</span
                  >
                </li>
              </ul>
            </div>
          </aside>
          <!-- /Sidebar -->
        </div>
      </div>
      <!-- /Intro-->
    </div>

    <footer id="footer" class="top-space">
      <div class="footer1">
        <div class="container">
          <div class="row">
            <div class="col-md-5 panel">
              <h3 class="panel-title">About Coworking</h3>
              <div class="panel-body">
                <p>
                  We are more than a simple rental app. We are here to make your
                  daily life easier, always seeking excellence.
                </p>
              </div>
            </div>

            <div class="col-md-4 panel contact">
              <h3 class="panel-title">Contact Info</h3>
              <div class="panel-body">
                <p>
                  If you want to know more about our work, just get in touch
                  with us.
                </p>
                <ul>
                  <li><i class="fa fa-phone"></i>1-123-345-6789</li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-envelope-o"></i> contact@gmail.com</a
                    >
                  </li>
                  <li>
                    <i class="fa fa-flag"></i>123 Smith Drive, Baltimore, MD
                    21212
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-3 panel">
              <h3 class="panel-title">Follow us</h3>
              <div class="panel-body">
                <p class="follow-me-icons">
                  <a href=""><i class="fa fa-twitter fa-2"></i></a>
                  <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                  <a href=""><i class="fa fa-github fa-2"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2"></i></a>
                  <a href=""><i class="fa fa-youtube fa-2"></i></a>
                  <a href=""><i class="fa fa-pinterest fa-2"></i></a>
                </p>
              </div>
            </div>
          </div>
          <!-- /row of panels -->
        </div>
      </div>

      <div class="footer2">
        <div class="container">
          <div class="row">
            <div class="col-md-6 panel">
              <div class="panel-body">
                <p class="simplenav">
                  <a href="index.html">Home</a> |
                  <a href="about.html">About</a> |
                  <a href="contact.html">Contact</a>
                </p>
              </div>
            </div>

            <div class="col-md-6 panel">
              <div class="panel-body">
                <p class="text-right">Copyright &copy; 2024</p>
              </div>
            </div>
          </div>
          <!-- /row of panels -->
        </div>
      </div>
    </footer>

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </body>
</html>
