<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coworking</title>
    <link rel="icon" type="co-worker-icon" href="/../public/images/logo.svg">

    <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/style/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/style/styles.css" />
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-container navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html"
            ><img src="../public/images/logo.svg" alt="Coworking" />Coworking</a
          >
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="list.html">List</a></li>
            <li><a href="book.html">Book</a></li>
            <li class="active"><a href="contact.html">Contact</a></li>
            <li><a href="owner_management.html">Management</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.navbar -->

    <!-- Header -->
    <header id="head" class="secondary"></header>
    <div class="image-grid">
      <span>
        <img src="../public/images/contact.svg" alt="Contact" />
        <header class="page-header">
          <h1 class="page-title">Contact us</h1>
        </header>
      </span>
    </div>
    <!-- /Header -->

    <!-- Intro -->
    <div class="container text-center">
      <div class="row">
        <!-- Form -->
        <div class="container mt-5 contactForm">
          <form id="contactForm" action="https://formsubmit.co/finalproject.sodv1201@gmail.com" method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Enter your name"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input
                type="text"
                name="_subject"
                class="form-control"
                id="subject"
                placeholder="Enter subject"
                required
              />
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea
                class="form-control"
                name="body"
                id="message"
                rows="5"
                placeholder="Enter your message"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-contactForm">
              Send Message
            </button>
          </form>
        </div>

        <!-- /Form -->
      </div>
    </div>

    <footer id="footer" class="top-space">
      <div class="footer1">
        <div class="container">
          <div class="row">
            <div class="col-md-5 panel">
              <h3 class="panel-title">About Coworking</h3>
              <div class="panel-body">
                <p>
                  We are more than a simple rental app. We are here to make your
                  daily life easier, always seeking excellence.
                </p>
              </div>
            </div>

            <div class="col-md-4 panel contact">
              <h3 class="panel-title">Contact Info</h3>
              <div class="panel-body">
                <p>
                  If you want to know more about our work, just get in touch
                  with us.
                </p>
                <ul>
                  <li><i class="fa fa-phone"></i>1-123-345-6789</li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-envelope-o"></i> contact@gmail.com</a
                    >
                  </li>
                  <li>
                    <i class="fa fa-flag"></i>123 Smith Drive, Baltimore, MD
                    21212
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-3 panel">
              <h3 class="panel-title">Follow us</h3>
              <div class="panel-body">
                <p class="follow-me-icons">
                  <a href=""><i class="fa fa-twitter fa-2"></i></a>
                  <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                  <a href=""><i class="fa fa-github fa-2"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2"></i></a>
                  <a href=""><i class="fa fa-youtube fa-2"></i></a>
                  <a href=""><i class="fa fa-pinterest fa-2"></i></a>
                </p>
              </div>
            </div>
          </div>
          <!-- /row of panels -->
        </div>
      </div>

      <div class="footer2">
        <div class="container">
          <div class="row">
            <div class="col-md-6 panel">
              <div class="panel-body">
                <p class="simplenav">
                  <a href="index.html">Home</a> |
                  <a href="about.html">About</a> |
                  <a href="contact.html">Contact</a>
                </p>
              </div>
            </div>

            <div class="col-md-6 panel">
              <div class="panel-body">
                <p class="text-right">Copyright &copy; 2024</p>
              </div>
            </div>
          </div>
          <!-- /row of panels -->
        </div>
      </div>
    </footer>

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../public/scripts/script.js"></script>
  </body>
</html>