/*Navbar*/
.navbar-container {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  min-height: 100px;
  padding-top: 25px;
  margin-bottom: 0;
}

.navbar-container *:focus {
  outline: 0;
}

.navbar-container .navbar-nav > li > a,
.navbar-container .navbar-nav > .open ul > a {
  color: rgba(255, 255, 255, 0.4);
}

.navbar-container .navbar-nav > .active > a,
.navbar-container .navbar-nav > .active > a:hover,
.navbar-container .navbar-nav > .active > a:focus {
  color: #fff;
  background: none;
}

.navbar-container .navbar-nav > .open > a {
  background: none;
  color: white;
}

.navbar-container .navbar-nav > li > a:hover,
.navbar-container .navbar-nav > li > a:focus,
.navbar-container .navbar-nav > .open > a:hover,
.navbar-container .navbar-nav > .open > a:focus {
  background: none;
  color: white;
}

.navbar-container .navbar-brand {
  font-family: "Open sans", helvetica, arial;
  font-size: 24px;
  color: white;
  padding: 0 0 0 15px;
  margin: 12px 0 0 0;
}

.navbar-container .navbar-brand img {
  margin-top: -8px;
}

.navbar-nav .btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 5px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav a.btn:focus,
.navbar-nav a.btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.navbar-collapse {
  border: 0 none;
  border-top: 0 none;
  box-shadow: none;
  display: inline-flex;
}

/*Main*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  grid-gap: 10px; /* Optional spacing between grid items */
  border-radius: 3%;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.grid-item {
  padding: 20px;
  text-align: center;
}

/* Header */
#head {
  min-height: 520px;
  text-align: center;
  padding-top: 240px;
  color: white;
  font-family: "Open sans", Helvetica, Arial;
  font-size: 100px;
  font-weight: 300;
}

#head.secondary {
  height: 100px;
  min-height: 100px;
  padding-top: 0px;
}

#testimonials{
  text-decoration: underline;
  text-decoration-style: double;
  /* text-decoration-color: ; */
}

/*Footer*/
/* Footer */
.footer1 {
  background: #302a31;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
}

.footer1 a {
  color: #ccc;
}

.footer1 a:hover {
  color: #fff;
}

.footer1 .panel {
  background-color: #302a31;
  margin-bottom: 30px;
}

.footer1 .panel-title {
  font-size: 17px;
  font-weight: bold;
  color: #ccc;
  margin: 0 0 20px;
}

.footer1 .entry-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 35px 0;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  font-size: 0.75rem;
}

.footer1 .entry-meta a {
  color: #333333;
}

.footer1 .entry-meta .meta-in {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.footer2 {
  padding: 15px 0;
  color: #777;
  font-size: 12px;
}

.footer2 a {
  color: #aaa;
}

.footer2 a:hover {
  color: #999;
}

.footer2 p {
  margin: 0;
}

.panel-body {
  padding: 0px;
}

.banner-content h1 {
  font-size: 60px;
  color: #e9dcc9;
}

.banner-content h2 {
  color: #e9dcc9;
}

.bordered-text {
  text-shadow: -1px 0 0 black, /* Left shadow */ 0 1px 0 black,
    /* Top shadow */ 1px 0 0 black, /* Right shadow */ 0 -1px 0 black;
  /* Bottom shadow */
  color: white;
  /* Adjust text color for better contrast */
}

/* Helpers */
.container-full {
  margin: 0 auto;
  width: 100%;
}

/*Logo*/
img[src="assets/images/logo.svg"] {
  width: 150px;
  height: 50px;
}

img[src="assets/images/logo.svg"]:hover {
  transform: rotate3d(1, 1, 1, 360deg);
  transition: transform 1s ease-in-out;
}

/*About us image grid*/
.image-grid {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-grid img {
  width: 22.5%;
  margin-bottom: 10px;
  border-radius: 3%;
  transition: transform 1s ease-in-out;
}

.image-grid img:hover {
  transition: transform 1s ease-in-out;
  transform: rotate(5deg) scale(1.2);
}

article p {
  text-align: justify;
}

.about-grid-container img {
  /* This will select the image within the .maincontent */
  width: 200px;
  /* Adjust this value as needed */
  height: auto;
  /* Automatically maintain aspect ratio */
}

.sidebar {
  padding-top: 36px;
  padding-bottom: 30px;
}

.sidebar .panel {
  margin-left: 10px;
}

.sidebar h1,
.sidebar .h1,
.sidebar h2,
.sidebar .h2,
.sidebar h3,
.sidebar .h3 {
  margin-top: 20px;
}

/*List*/
.list-image img {
  width: 100%;
  border-radius: 3% 31%;
}

.list-form {
  border: 1px solid #c4bebe;
  border-radius: 3%;
  margin-bottom: 20px;
}

.btn-submit {
  margin-bottom: 10px;
}

/*book*/
.book-form {
  border: 1px solid #c4bebe;
  border-radius: 3%;
  margin-bottom: 20px;
}

.btn-search {
  margin-bottom: 10px;
}

.labelMaxPrice {
  display: inline-block;
}

.info-text {
  font-size: smaller;
  color: gray;
  display: inline-block;
}

.formPrice {
  border: 1px solid #c4bebe;
}

/*Contact us*/
.form-control {
  margin-bottom: 15px;
}

.btn-contactForm {
  margin-bottom: 10px;
}

.container.mt-5.contactForm {
  width: 60%;
  align-items: center;
  justify-content: center;
}

#contactForm label {
  display: flex;
}

.image-grid {
  display: flex;
  align-items: center;
  justify-content: first baseline;
}

.image-grid span {
  width: 30%;
  display: flex;
  align-items: center;
}

.image-grid span img:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
  transform: rotate(20deg) scale(1.1);
}

/*Popup*/
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup-content {
  position: relative; /* To position the close button */
}

.close-btn {
  position: absolute;
  right: 5px;
  top: -25px;
  cursor: pointer;
  font-size: 24px;
}
